@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: ZuumeRoughBold;
    src: url(../fonts/Fontspring-DEMO-zuumerough-bold.otf);
}

:root{
    --bg_color: #000000;
    --alt_color: #C31613;
}

:root {
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;
  
  }

:root {
    --teal-050: #effcf6;
    --teal-100: #c6f7e2;
    --teal-200: #8eedc7;
    --teal-300: #65d6ad;
    --teal-400: #3ebd93;
    --teal-500: #27ab83;
    --teal-600: #199473;
    --teal-700: #147d64;
    --teal-800: #0c6b58;
    --teal-900: #014d40;
  
    --blue-grey-050: #f0f4f8;
    --blue-grey-100: #d9e2ec;
    --blue-grey-200: #bcccdc;
    --blue-grey-300: #9fb3c8;
    --blue-grey-400: #829ab1;
    --blue-grey-500: #627d98;
    --blue-grey-600: #486581;
    --blue-grey-700: #334e68;
    --blue-grey-800: #243b53;
    --blue-grey-900: #102a43;
  }

html{
    scroll-behavior: smooth;
}

.flex{
    display: flex;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

body{
    background-color: var(--bg_color);
    font-family: 'Bebas Neue', sans-serif;
}


a{
    color: #e0e0e0;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    display: inline-block;
    transform: .2s ease-in;
    position: relative;
    transition: all .5s ease;
    
    
}

a:hover{
    color: var(--alt_color);
}



header{
    padding: 5rem 4%;
    width: 100%;
    height: 7vh;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    margin-top: -50px;
}

header .logotipo img{
    width: 155px;
    /* margin-top: -30px; */
    transform: none;
    transition: none;
    display: flex;
    float: none;
    -webkit-transform: translate3d(0, 0, 0);
}

header nav ul{
    list-style-type: none;
    
}


header nav ul li{
    margin-top: 20px;
    display: inline-block;
    padding: 0 1.25rem;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.1rem;
}


section.agendar{
    padding: 5rem 4%;
}

section.agendar .flex{
    align-items: center;
    justify-content: space-around;
}

div.container{
    width: 50%;
    height: 50%;
    padding: 90px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.horarios{
    gap: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #e0e0e0;
    background-color: #1b1b1b;
    padding: 20px;
    letter-spacing: 0.2rem;
    box-shadow: 5px 5px 5px rgba(143, 143, 143, 0.116);
    border-radius: 5px;
    padding-left: 10px;
    width: 300px;
}

.flex-tb-h{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.horarios h1{
    color: #C31613;
    letter-spacing: 0.2rem;
    font-weight: 800;
}


.info{
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}

.info h6{
    color: #C31613;
}

.sv-pc{
    flex-direction: column;
}

.sv-pc_titulos{
    padding-bottom: 10px;
}

.sv-pc h1 {
    text-align: center;
    color: #C31613;
    padding: 20px;
    letter-spacing: 0.2rem;
    font-family: ZuumeRoughBold;
    font-size: 100px;
}

.sv-pc h5{
    text-align: center;
    color: #e0e0e0;
    letter-spacing: 0.2rem;
    font-style: italic;


}

.sv-pc table{
    font-weight: 800;
    border-radius: 5px;
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    color: #e0e0e0;
    background-color: #1b1b1b;
    word-spacing: 0.2rem;
    display: flex;
    box-shadow: 5px 5px 5px rgba(143, 143, 143, 0.116);
}

.sv-pc table, th, td{
    padding: 10px;
    text-align: left;
    

}


tr:nth-child(odd) {
    background-color: #363535ad;
}

.sv-pc table span{
    color: #C31613;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
}

.sv-pc table th{
    color: #C31613;
}


.container h2{
    font-family: 'Bebas Neue', sans-serif;
    color: var(--alt_color);  
}

.container h2 span{
    
    color: #e0e0e0;
    
}


form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
    align-items: center;
}

form input, form textarea{
    width: 100%;
    background-color: #242424;
    border: 0;
    outline: 0;
    padding: 20px 50px;
    border-radius: 15px;
    color: #e0e0e0;
    font-size: 18px;
}


form textarea{
    resize: none;
    max-height: 400px;
}

.container-sel{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: #242424;
    border: 0;
    outline: 0;
    padding: 20px 50px;
    border-radius: 18px;
}

.container-sel label{
    font-size: 15px;
    color: #fff;
    text-align: start;
    
}

.container-sel label span{

    font-size: 10px;
    color: #e0e0e0;

}

.container-sel select{
    outline: 0;
    background-color: #a0a0a0;
    border: 1px solid var(--bg_color);
    padding: 10px;
    border-radius: 9px;
    
   
}

form .btn-enviar{
    margin-top: 20px;
    text-align: center;

}

form .btn-enviar input{
    
    width: 200px;
    background-color: var(--alt_color);
    color:  #e0e0e0;
    font-weight: 600;
    cursor: pointer;
    font-family: ZuumeRoughBold;
    font-size: 30px;
}


/* ESTILO DO FOOTER*/

footer {
    width: 100%;
    color: var(--color-neutral-40);
  }
  
  .footer-link {
    text-decoration: none;
  }
  
  #footer_content {
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
    color: #fff;
  }
  
  #footer_contacts h1, h3 {
    margin-bottom: 0.75rem;
    color: #C31613;
  }
  
  #footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
  } 
  
  #footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.4s;
  }
  
  #footer_social_media .footer-link i {
    font-size: 1.25rem;    
  }
  
  #footer_social_media .footer-link:hover {
    opacity: 0.8;
  }
  
  #instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
  }
  
  #facebook {
    background-color: #4267b3;
  }
  
  #whatsapp {
    background-color: #25d366;
  }
  
  .footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
  }
  
  .footer-list .footer-link {
    color: var(--color-neutral-30);
    transition: all 0.4s;
  }
  
  .footer-list .footer-link:hover {
    color: #C31613;
  }
  
  #footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  #footer_subscribe p {
    color: var(--color-neutral-30)
  ;
  }
  
  #input_group {
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-0);
    border-radius: 4px;
  }
  
  #input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
  }
  
  #input_group button {
    background-color: #C31613;
    border: none;
    color: var(--color-neutral-40);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 50px;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
  }
  
  #input_group button:hover {
    opacity: 0.8;
  }
  
  #footer_copyright {
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
    color: #fff;
    
  }
  
  #footer_copyright a{
    padding: 0 4px;
  }
  


