@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;
  
  }

@font-face {
    font-family: ZuumeRoughBold;
    src: url(../fonts/Fontspring-DEMO-zuumerough-bold.otf);
}
:root{
    --bg_color: #000000;
    --alt_color: #C31613;
}
/* Fix IE. Hide from IE Mac \*/
* html ul li { float: left; }
* html ul li a { height: 1%; }
/* End */

html{
    scroll-behavior: smooth;
}

.flex{
    display: flex;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #000000;
}


a{
    color: #e0e0e0;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    display: inline-block;
    transform: .2s ease-in;
    position: relative;
    transition: all .5s ease;
    

    
    
}

a:hover{
    color: var(--alt_color);
    
}


.header a::before{
    content: ' ';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 0px;
    height: 2px;
    background-color: var(--alt_color);
    transition: all 1.5s ease;
}

.header a:hover::before{
    width: 100%;
}

.header #a-c::before{
    content: none;
}
.header #a-c{
    color: #fff;
}

.header{
  background-color: #000000; 
  padding: 0 10%;
   
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.064);
    
    
    
   
}

.header > .interface{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    
}

nav{
  display: flex;
  gap: 3rem;
  
}

.navbar-hd{
  z-index: 2;   
  display: flex;
  align-self: center;
  gap: 3rem;
  justify-content: space-between;
}

.navbar-hd a{
  margin-bottom: -20px;
}

#link{
  margin-top: 2px;
}

.btn {
    margin-top: -300px;  
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    width: 130px;
    border: none;
    
}
.btn-primary {
    background-color: transparent;
    border: 1px solid #fff;
    transition: background-color .5s;
}
.btn-primary:hover {
    background-color: #C31613;
    color: #ffff;
    border: 1px solid #db1411;
}




#a-f img{
    width: 50px;
    position: absolute;
    opacity: 0;
    margin-top: -40px;
   
}

#a-f img:hover{
    opacity: 1;
    transition: opacity;
}

.logotipo img{
    width: 155px;
    /* margin-top: -30px; */
    transform: none;
    transition: none;
    display: inline-block;
    float: none;
    -webkit-transform: translate3d(0, 0, 0);
}


/* ESTILO MOBILE */

.btn_icon_header{
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 768px) {
  
} 

.container{
    padding: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


table {
    width: 50%;
    border-collapse: collapse;
    margin-top: 20px;
    color: #fff;
    border: transparent;
    
}

caption {
    font-size: 1.5em;
    margin-bottom: 10px;
    border-bottom: 1px solid #C31613;
   
}



th{
    padding: 12px 50px;
    border-radius: 5px;

}

td{
    padding: 12px 2px;
}

tr{
  text-align: center;
}

tr button{
  width: 100%;
  background: transparent;
  border: none;
  
}

tr i{
  width: 100%;
  color: #fff;
  font-size: 30px;
  display: inherit;
}



th {
    color: #C31613;
    background-color: #f2f2f2;
}

td{
    background-color: #C31613;
    border-radius: 5px;
    transition: all 1s;
    
}

td:hover{
  background-color: #81110f;
}


.buscar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    color: #fff;
}